DISCORD_TOKEN = "" # required to run the bot // obtained from https://discord.com/developers/applications
DISCORD_CLIENT_SECRET = "" # required for oauth2 stuff on the website // obtained from https://discord.com/developers/applications // make sure to enable the bot and the oauth2 stuff in the Discord Developer Console
OPENAI_API_KEY = "" # required for GPT responses // obtained from https://platform.openai.com/signup // make sure to enable the OpenAI API in the OpenAI Console
GOOGLE_API_KEY = "" # required for the search GPT tool // obtained from https://developers.google.com/maps/documentation/urls/get-started#api_key // make sure to enable the Custom Search API in the Google Cloud Console
GOOGLE_CUSTOM_SEARCH_ENGINE_ID = "" # required for the search tool given to GPT to work // obtained from https://developers.google.com/custom-search/v1/overview // make sure to enable the Custom Search API in the Google Cloud Console
ADOBE_API_KEY = "" # required for the cquery command // obtained from https://console.adobe.io/apis/experienceplatform/home
LASTFM_API_KEY = "" # required for the get_listening_data GPT tool // optained from https://www.last.fm/api/account/create
PATH_TO_COOKIES = "" # not required but use if yt-dlp throws errors for "missing cookies" // recommend using /private/cookies.txt. // instructions for creating this file: https://github.com/yt-dlp/yt-dlp/wiki/FAQ#how-do-i-pass-cookies-to-yt-dlp
IS_DEV = "True" # not required, but makes the website and other stuff locally hosted

# you can delete these comments after you have filled in the values