.env 
node_modules/
logs/
testUtils/
src/site/socket.io
server.cert
server.key

resources/ytdl_cache
resources/containers
resources/gptdownloads
resources/data/guildConfigs
resources/data/queues
resources/data/blacklist.json
resources/data/persistent_data.json
resources/data/statistics.json
resources/data/reaction_roles.json
resources/sounds
resources/data/embeds
resources/data/todos
resources/data/updates
resources/data/requestCount.txt
resources/images/jaks
resources/data/webmessages.json
resources/data/webusers.json
resources/data/bingos
resources/data/truebans

# this is unfinished atm
src/site/images/card_maker_assets
