.env 
node_modules/
logs/
src.zip
testUtils/

resources/ytdl_cache
resources/containers
resources/gptdownloads
resources/data/guildConfigs
resources/data/queues
resources/data/blacklist.json
resources/data/persistent_data.json
resources/data/statistics.json
resources/data/reaction_roles.json
resources/sounds
resources/data/embeds
resources/data/todos
resources/data/updates
resources/data/requestCount.txt
resources/images/jaks
srcOLD/bot.js
srcOLD/index.js
srcOLD/register_commands.js
srcOLD/sharder.js
srcOLD/site.js
srcOLD/status.js
srcOLD/WebServer/index.html
srcOLD/WebServer/newstyle.css
srcOLD/WebServer/style.css
srcOLD/WebServer/images/favicon.ico
srcOLD/WebServer/images/backgrounds/1920x1080.png
srcOLD/WebServer/pages/assetsdisplay.html
srcOLD/WebServer/pages/contact.html
srcOLD/WebServer/pages/coolsites.html
srcOLD/WebServer/pages/credits.html
srcOLD/WebServer/pages/logs.html
srcOLD/WebServer/pages/oauth2.html
srcOLD/WebServer/pages/shame.html
srcOLD/WebServer/pages/statistics.html
srcOLD/WebServer/pages/errors/404.html
srcOLD/commands/addsound.js
srcOLD/commands/blacklist.js
srcOLD/commands/boilerplate
srcOLD/commands/chatbubble.js
srcOLD/commands/cleanup.js
srcOLD/commands/configure.js
srcOLD/commands/corrupt.js
srcOLD/commands/cquery.js
srcOLD/commands/deploycommands.js
srcOLD/commands/dmuser.js
srcOLD/commands/embed.js
srcOLD/commands/eval.js
srcOLD/commands/explore.js
srcOLD/commands/git.js
srcOLD/commands/help.js
srcOLD/commands/info.js
srcOLD/commands/jak.js
srcOLD/commands/joinvc.js
srcOLD/commands/leavevc.js
srcOLD/commands/markov.js
srcOLD/commands/markovold.js
srcOLD/commands/patch.js
srcOLD/commands/pepperannouncement.js
srcOLD/commands/pepperpatch.js
srcOLD/commands/peppersubupdate.js
srcOLD/commands/pepperupdate.js
srcOLD/commands/playurl.js
srcOLD/commands/queue.js
srcOLD/commands/random.js
srcOLD/commands/reactionrole.js
srcOLD/commands/restart.js
srcOLD/commands/retrievesound.js
srcOLD/commands/say.js
srcOLD/commands/sendlog.js
srcOLD/commands/setprompt.js
srcOLD/commands/setversion.js
srcOLD/commands/soundboard.js
srcOLD/commands/statistics.js
srcOLD/commands/test.js
srcOLD/commands/todo.js
srcOLD/commands/undeploycommands.js
srcOLD/commands/update.js
srcOLD/commands/vileimagery.js
srcOLD/events/GuildCreate.js
srcOLD/events/GuildRemove.js
srcOLD/events/InteractionCreate.js
srcOLD/events/MessageCreate.js
srcOLD/events/MessageDelete.js
srcOLD/events/MessageReactionAdd.js
srcOLD/events/MessageReactionRemove.js
srcOLD/events/VoiceStateUpdate.js
srcOLD/lib/adobe.js
srcOLD/lib/commands.js
srcOLD/lib/deepwokenBiasedBuildIdea.js
srcOLD/lib/deepwokenUnbiasedBuildIdea.js
srcOLD/lib/default_embed.js
srcOLD/lib/discord_action.js
srcOLD/lib/files.js
srcOLD/lib/globals.js
srcOLD/lib/gpt.js
srcOLD/lib/guildConfigs.js
srcOLD/lib/log.js
srcOLD/lib/statistics.js
srcOLD/lib/tokenizer.js
srcOLD/lib/voice.js
srcOLD/lib/types/commands.js
srcOLD/lib/types/deepwokenCharacter.js
srcOLD/lib/types/menuBuilders.js
srcOLD/lib/types/queue.js
