<div class="card page-centered commands-sidebar">
    <span>Commands</span>
    <hr>
    <input type="checkbox" id="menu-checkbox-commandname" class="menu-checkbox">
    <label for="menu-checkbox-commandname"></label>
</div>