<a class="no-margin card hover-button flex column centered" href="{{path}}">
    <h2 class="error-code">{{status}}</h2>
    <p class="error">error accessing <samp>{{path}}</samp>: <samp>{{message}}</samp></p>
</a>
<p class="no-margin"><i>click to reload</i></p>