<div class="error-items flex column small-gap centered">
    <h2 class="error-code card side-padding no-margin">{{status}}</h2>
    <a class="card spinny-button error" href="{{path}}">error accessing <b>{{path}}</b>: {{message}}</a>
    <p class="no-margin"><i>click to reload</i></p>
</div>
