<div class="flex column page-centered some-padding small-gap centered" id="index-page-items">
    <h1 class="card side-padding">PepperBot</h1>
    <p class="card side-padding">serving {{users}} user{{usersPlural}} across {{guilds}} server{{guildsPlural}}</p>
    <hr>
    <div class="no-margin small-gap" id="index-page-redirects-columns-holder">
        <div class="flex column small-gap no-margin align-right" id="index-page-redirects-column1">
            <a class="card spinny-button side-padding pointer text-right index-redirect" href="/commands">/commands</a>
            <a class="card spinny-button side-padding pointer text-right index-redirect" href="/statistics">/statistics</a>
            <a class="card spinny-button side-padding pointer text-right index-redirect" href="/logs">/logs</a>
        </div>
        <div class="vl index-column-divider"></div>
        <div class="flex column small-gap no-margin" id="index-page-redirects-column2">
            <a class="card spinny-button side-padding pointer text-left spin-right index-redirect" href="/config">/config</a>
            <a class="card spinny-button side-padding pointer text-left spin-right index-redirect" href="/prompts">/prompts</a>
        </div>
    </div>
    <a class="card spinny-button side-padding pointer text-left spin-below index-redirect" id="invite-button" href="/invite">invite now</a>
</div>