<div class="under-construction-page flex column centered small-gap">
    <div class="under-construction-header">
        <a href="{{backUrl}}" class="card spinny-button side-padding pointer">← back</a>
        <h1 class="card side-padding">{{pageName}}</h1>
        <div class="spacer"></div>
    </div>
    <hr>
    <span class="card">under construction</span>
    <span class="card">now that prompt publishing is gone i don't entirely know what i'm going to do with this page</span>
    <span class="card">i'll figure that out later though, probably turn it into some kind of usage guide</span>
    <span class="card">if you have suggestions for what i should do with it, there's always the suggestions page</span>
</div>