<div class="under-construction-page flex column centered small-gap">
    <div class="under-construction-header">
        <a href="{{backUrl}}" class="card spinny-button side-padding pointer">â† back</a>
        <h1 class="card side-padding">{{pageName}}</h1>
        <div class="spacer"></div>
    </div>
    <hr>
    <span class="card">under construction</span>
    <span class="card">i'll make it eventually... probably... maybe...</span>
</div>