@keyframes move-circles {
    0% {
        background-position: 10% 20%, 80% 30%, 50% 70%, 30% 50%, 70% 80%;
    }
    12.5% {
        background-position: 30% 50%, 60% 10%, 40% 80%, 20% 40%, 80% 20%;
    }
    25% {
        background-position: 20% 40%, 70% 20%, 60% 60%, 40% 30%, 60% 70%;
    }
    37.5% {
        background-position: 50% 70%, 30% 20%, 70% 50%, 10% 60%, 40% 10%;
    }
    50% {
        background-position: 30% 10%, 60% 50%, 40% 40%, 50% 70%, 80% 60%;
    }
    62.5% {
        background-position: 70% 30%, 40% 60%, 20% 50%, 60% 80%, 30% 40%;
    }
    75% {
        background-position: 40% 30%, 50% 40%, 70% 20%, 20% 60%, 30% 50%;
    }
    87.5% {
        background-position: 60% 20%, 30% 70%, 50% 30%, 80% 40%, 20% 80%;
    }
    100% {
        background-position: 10% 20%, 80% 30%, 50% 70%, 30% 50%, 70% 80%;
    }
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.25;

    --background-color: rgba(68, 30, 109, 0.6);
    --transparent-background-color: rgba(38, 34, 42, 0);
    --background-color-dark: rgba(39, 16, 66, 0.85);
    --background-color-extra-dark: rgba(28, 7, 38, 0.6);

    --border-color: #8d5ac7;
    --border-color-light: #c2b1f2;
    --border-color-dark: #5c597a;

    --text-color: #f0e6e2;
    --text-color-light: #fff5f0;
    --text-color-dark: #9389a8;
    --text-color-darker: #5c597a;

    --glow-color: #c2b1f2;

    background-color: var(--background-color);
    background-attachment: fixed;
    background-image:
        radial-gradient(circle, #004d4dac, rgba(0, 77, 77, 0) 70%), /* dark teal */
        radial-gradient(circle, #233c56, rgba(0, 31, 63, 0) 70%), /* navy blue */
        radial-gradient(circle, #5f02a1, rgba(75, 0, 130, 0) 70%), /* deep violet */
        radial-gradient(circle, #3c5a6e, rgba(54, 69, 79, 0) 70%), /* charcoal gray */
        radial-gradient(circle, #5f02a1, rgba(25, 25, 112, 0) 70%); /* midnight blue */
    background-size: 200% 200%;
    background-position: 10% 20%, 80% 30%, 50% 70%, 30% 50%, 70% 80%;
    animation: move-circles 120s ease-in-out infinite;
    animation-fill-mode: forwards;
    color: #eeeeee;
    backdrop-filter: blur(10px);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 2em);
    height: 100%;
    width: 100%;
    padding: 1em;
}

p {
    margin-top: .8em;
    margin-bottom: .8em;
}
h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: .2em;
}
i {
    color: #888888;
}
a {
    color: #8095ff;
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    border: 0.1em solid linear-gradient(to right, var(--border-color), transparent);
    height: 0.1em;
    background: linear-gradient(to right, var(--border-color), transparent);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

/* shamelessly stolen from forgejo/gitea, thanks! */
.error-code {
    color: transparent;
    background: repeating-linear-gradient(45deg, #f38ba8, #f38ba8 10px, #eeeeee 10px, #eeeeee 20px);
    background-clip: text;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.error {
    text-align: center;
}
.error-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* generic stuff */

.page-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.top-margin {
    margin-top: 0.5em;
}

.no-padding {
    padding: 0;
}

.little-padding {
    padding: 0.2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.nowrap {
    flex-wrap: nowrap;
}

.gap {
    gap: 1em;
}
.small-gap {
    gap: 0.5em;
}

.centered {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.darkened-text {
    color: var(--text-color-dark);
}

.border-bottom {
    border-bottom: var(--border-color) 0.1em solid;
}

.card {
    background-color: var(--background-color-extra-dark);
    color: var(--text-color);
    border: 0.1em solid var(--border-color);
    border-radius: 0.5em;
    padding: 1em;
}

.borderless-card {
    background-color: var(--background-color-extra-dark);
    border-radius: 0.5em;
}

.hover-button {
    transition: 0.3s;
}

.hover-button:hover {
    background-color: var(--background-color-dark);
    transform: scale(1.1);
    box-shadow: 0 0 0.5em var(--glow-color);
}

.background-standard {
    background-color: var(--background-color);
}
.background-dark {
    background-color: var(--background-color-dark);
}
.background-extra-dark {
    background-color: var(--background-color-extra-dark);
}

/* specific stuff */

/* sidebar */

.sidebar-container {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    z-index: 100;
    padding: 0.5em;
}

.sidebar-button {
    padding: 0.25em;
}

/* index */

.landing-page-container {
    width: fit-content;
}

.index-statistics {
    display: flex;
    flex: 1;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.statistics-columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
}

.statistics-column > p {
    white-space: nowrap;
    text-wrap: nowrap;
}

.index-pages-list {
    flex: 1;
}

/* queue */

.queue-page {
    width: fit-content;
    max-width: 75%;
}

.queue-title {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.queue-controller {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.queue-controller .queue-input-element {
    margin: 0;
    padding: 0.5em;
}

.video-info {
    text-wrap: break-word;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.queue-error-text {
    color: lightcoral;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue-item-duration {
    margin-left: 0.5em;
}
.remove-button {
    padding: 0.25em;
    margin-left: 1em;
}

.queue-item {
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    flex-wrap: nowrap;
}

.queue-item-thumbnail {
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    object-fit: cover;
    overflow: hidden;
}

/* commands */

.commands-page {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.commands-sidebar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    height: fit-content;
}

.commands-list-container {
    margin: 0;
    column-count: 2;
    column-gap: 0.5em;
    padding: 0;
}

.command-checkbox {
    display: none;
}

.command-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.command-whitelist-only {
    color: var(--text-color-dark);
    font-style: italic;
}

.command-tags-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    margin-left: 1em;
}

.command-tag {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.25em;
    border-radius: 0.5em;
    font-size: 0.8em;
}

.command-checkbox:checked ~ .command-label {
    background-color: var(--background-color-extra-dark);
    border-color: var(--border-color-light);
    color: var(--text-color-light);
    box-shadow: 0 0 0.15em var(--glow-color);
    transform: scale(1.025);
}

.subcommand-checkbox:checked ~ .command-label {
    background-color: var(--background-color-extra-dark);
    border-color: var(--border-color-light);
    color: var(--text-color-light);
    box-shadow: 0 0 0.15em var(--glow-color);
    transform: scale(1.025);
}

/* Command data display styling */
.command-data-container {
    display: none; /* Hidden by default */
}
.subcommand-data-container {
    display: none; /* Hidden by default */
}

.command-data-section {
    width: 20em;
    padding: 0.5em;
}

.command-basic-data {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    background-color: var(--background-color-extra-dark);
    border-radius: 0.5em;
}

.command-data-name {
    padding: 0.25em;
    padding-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0;
    width: calc(100% - 0.75em);
    justify-content: space-between;
}

.command-data-description {
    padding-left: 0.5em;
    width: calc(100% - 0.75em);
}

.commands-data-list {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    max-width: fit-content;
    flex-grow: 1;
}

.command-data-usage {
    padding: 0.25em;
    padding-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0;
    width: calc(100% - 0.75em);
    justify-content: space-between;
}

.subcommands-list-container {
    margin: 0;
    padding: 0;
    padding-right: 0.75em;
}