:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.25;

    --background-color: #181818;
    --background-color-dark: #101010;
    --background-color-extra-dark: #080808;

    --border-color: #434343;

    --text-color: #eeeeee;
    --text-color-light: #ffffff;
    --text-color-dark: #898989;
    --text-color-darker: #515151;


    background-color: var(--background-color);
    color: #eeeeee;
}

body {
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

p {
    margin-top: .8em;
    margin-bottom: .8em;
}
h1, h2, h3, h4, h5 {
    margin-top: .2em;
    margin-bottom: .2em;
}
i {
    color: #888888;
}
a {
    color: #8095ff;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* shamelessly stolen from forgejo/gitea, thanks! */
.error-code {
    color: transparent;
    background: repeating-linear-gradient(45deg, #f38ba8, #f38ba8 10px, #eeeeee 10px, #eeeeee 20px);
    background-clip: text;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.error {
    text-align: center;
}

/* generic stuff */

.page-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.little-padding {
    padding: 0.2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.gap {
    gap: 1em;
}
.small-gap {
    gap: 0.5em;
}

.centered {
    justify-content: center;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.card {
    background-color: var(--background-color-extra-dark);
    color: var(--text-color);
    border: 0.1em solid var(--border-color);
    border-radius: 0.5em;
    padding: 1em;
}

.hover-button {
    transition: 0.3s;
}

.hover-button:hover {
    background-color: var(--background-color-dark);
    transform: scale(1.1);
    box-shadow: 0 0 0.5em #ffffff80, 0 0 0.5em #ffffff80;
}

.background-standard {
    background-color: var(--background-color);
}
.background-dark {
    background-color: var(--background-color-dark);
}
.background-extra-dark {
    background-color: var(--background-color-extra-dark);
}

/* specific stuff */

/* queue */

.queue-title {
    padding-top: 0.25em;
}

.queue-controller {
    padding: 0.5em;
}

.queue-controller .queue-input-element {
    margin: 0;
    padding: 0.5em;
}

.remove-button {
    padding: 0.25em;
}

.queue-item {
    margin-bottom: 0.25em;
}

.queue-item-index {
    border-left: 0.1em solid var(--border-color);
    border-right: 0.1em solid var(--border-color);
    padding-left: 0.35em;
    padding-right: 0.35em;
}