@font-face {
    font-family: 'BPdotsSquareBold';
    src: url('/font/BPdotsSquareBold.otf') format('truetype');
}

:root {
    --text-color: rgba(207, 117, 0, 1);
    --highlighted-text-color: rgba(255, 145, 0, 1);
    --highlighted-text-color-light: rgb(255, 182, 87, 1);
    --highlighted-text-color-lighter: rgb(255, 213, 159, 1);
    --darkened-text-color: rgb(130, 72, 0);
    --darker-darkened-text-color: rgba(92, 50, 0, 1);
    --background-color: rgba(11, 3, 0, 1);
    --midground-color-dark: rgb(23, 12, 0);
    --midground-color: rgba(37, 20, 0, 0.35);
    --midground-color-no-transparency: rgba(37, 20, 0, 1);
    --midground-color-light: rgba(92, 50, 0, 0.65);
    --midground-color-light-no-transparency: rgba(92, 50, 0, 1);
    --midground-color-lighter: rgba(130, 72, 0, 0.85);
    --border-color: rgba(255, 145, 0, 1);
    --border-color-light: rgba(255, 145, 0, 0.5);
    --border-color-dark: rgba(255, 145, 0, 0.1);
    --main-font: 'BPdotsSquareBold', monospace;
    --transparent: rgba(0, 0, 0, 0);
    --heading-margins: 5px;

    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    overflow: hidden;
}


/* TV FX */

.tvFxContainer {
    position: fixed;
    height: 0;
    width: 0;
    z-index: 256;
}
.tvScanline {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
    user-select: none;
}
.tvScanline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%; /* Double the height to allow for scrolling */
    background-image: repeating-linear-gradient(0deg, #FFFFFF20, #FFFFFF20, 2px, transparent 4px);
    animation: scrollDown 30s linear infinite;
} /* im ngl i have no idea how or what this shit does but it works, copilot suggested it. animating background-offset was causing it to use 60% of my CPU */

@keyframes scrollDown {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
.tvStatic {
    position: fixed;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 256;
    user-select: none;
}

/* Sidebar */

.sidebarContainer {
    position: fixed;
    top: 50vh;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 32px);
    width: 125px
}
.sidebarTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarTitleSeperator {
    /*border: none;*/
    border-top: 1px solid var(--border-color);
    width: 100%;
    margin-bottom: 5px;
}
.sidebarButton {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 5px
}
.activatedSidebarButton {
    color: var(--highlighted-text-color-lighter);
    text-decoration: underline;
    margin-bottom: 5px
}
.sidebarButton:hover {
    color: var(--highlighted-text-color);
}
.sidebarButton:active {
    color: var(--highlighted-text-color-light);
}
.sidebarButton:visited {
    color: var(--text-color);
}
.sidebarButton:visited:hover {
    color: var(--highlighted-text-color);
}
.sidebarButton:visited:active {
    color: var(--highlighted-text-color-light);
}
.sourceCodeButton {
    margin-top: auto;
    margin-bottom: 0;
}
.toggleSidebarButton {
    position: fixed;
    top: 50vh;
    right: 147px;
    z-index: inherit;
    transform: translateY(-50%);
    background-color: var(--midground-color-no-transparency);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-family: var(--main-font);
}
.toggleSidebarButton:hover {
    background-color: var(--midground-color-light-no-transparency);
}
.toggleSidebarButton:focus {
    border: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    .sidebarContainer {
        background-color: var(--midground-color-dark)
    }
}

/* Scrollbar */

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--midground-color-lighter) var(--midground-color-dark);
}

/* Categories */
details {
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--midground-color);
}

summary {
    background-color: var(--midground-color);
    color: var(--text-color);
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/*
summary:focus {
    outline: 1px solid var(--border-color-light);
}
*/
summary::-webkit-details-marker {
    display: none;
}

summary:hover {
    background-color: var(--midground-color-light);
}

summary:active {
    background-color: var(--midground-color-lighter);
}

details[open] summary {
    border-bottom: 1px solid var(--border-color);
}

/* borderlessCategory */

summary.borderlessCategory {
    background-color: var(--transparent);
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
}
summary.borderlessCategory:hover {
    background-color: var(--midground-color-light);
}
summary.borderlessCategory:active {
    background-color: var(--midground-color-lighter);
}

details.borderlessCategory {
    margin: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
}

details.borderlessCategory > *:not(summary) {
    padding: 0;
    background-color: var(--transparent);
}
/* General */

.hidden {
    display: none;
}

pre {
    font-family: var(--main-font);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
.outlined {
    border: 1px solid var(--border-color);
    background-color: var(--midground-color);
    border-radius: 5px;
    padding: 5px;
}
.underlined {
    text-decoration: underline;
}

.indented::before {
    content: var(--indent-content, "\00a0\00a0\00a0\00a0");
}
.indent-half {
    --indent-content: "\00a0\00a0";
}
.indent-1 {
    --indent-content: "\00a0\00a0\00a0\00a0";
}
.indent-2 {
    --indent-content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}
.indent-3 {
    --indent-content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.flex {
    display: flex;
}
.flex.column {
    flex-direction: column;
}
.flex.row {
    flex-direction: row;
}

.lesserText {
    color: var(--darkened-text-color);
}
.smallText {
    font-size: 0.8em;
}

button {
    background-color: var(--midground-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 100%;
}
button:hover {
    background-color: var(--midground-color-light);
}

button:active {
    background-color: var(--midground-color-lighter);
}

input {
    background-color: var(--midground-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-family: var(--main-font);
}
input:focus {
    outline: 1px solid var(--border-color-light);
}
input:hover {
    background-color: var(--midground-color-light);
}

a {
    color: var(--highlighted-text-color);
    text-decoration: underline;
}
a:hover {
    color: var(--highlighted-text-color-light);
}
a:active {
    color: var(--highlighted-text-color-lighter);
}
a:visited {
    color: var(--highlighted-text-color);
}
a:visited:hover {
    color: var(--highlighted-text-color-light);
}
a:visited:active {
    color: var(--highlighted-text-color-lighter);
}

h1 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}
h2 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}
h3 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}
h4 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}
h5 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}
h6 {
    margin-top: var(--heading-margin);
    margin-bottom: var(--heading-margin);
}

/* Pepperbot Guide */

details.commandArgument > *:not(summary):not(details) {
    padding: 5px;
    background-color: var(--midground-color);
}

.guideblock {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    max-height: calc(100% - 32px);
    width: calc(50% - 27px);
    overflow-y: auto;
    padding: 5px;
    margin-right: 10px;
    /*margin-top: 19px;*/
}

#guideblockcontainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    z-index: -1;
    flex-direction: row;
    
}
@media (max-width: 768px) {
    #guideblockcontainer {
        flex-direction: column;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        align-items: baseline;
    }
    .guideblock {
        height: calc(50% - 32px);
        width: calc(100% - 27px);
        margin-bottom: 5px;
    }
}

.commandDetails {
    scroll-margin-top: 5px;
}
/*
.commandName {
    
}
*/
.subcommand {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}
.whitelistOnly {
    color: var(--darkened-text-color);
}
.commandCategory::before {
    content: "category: ";
    color: var(--darker-darkened-text-color);
}
.commandCategory {
    color: var(--darker-darkened-text-color);
}
.commandDescription {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 6px;
    white-space: pre-line;
}
.commandArgument {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 0;
}
.commandArgumentType::before {
    content: "type: ";
    color: var(--darker-darkened-text-color);
}
.commandArgumentType {
    color: var(--darker-darkened-text-color);
}
.commandArgumentProperty {
    color: var(--darkened-text-color);
}
.commandProperty {
    color: var(--darkened-text-color);
}
.argumentDescription {
    margin-top: 3px;
    margin-bottom: 0;
    white-space: pre-line;
}
.commandArgumentOrderItem::before {
    content: "<";
}
.commandArgumentOrderItem::after {
    content: ">";
}

/* Logs Viewer */

.logLine {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color-dark);
}

.logPageContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 42px);
    width: calc(100vw - 42px);
    overflow: hidden;
    padding: 10px;
    
}

.logContent {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    width: calc(100% - 137px);
    margin: 0;
    background-color: var(--midground-color);
}

.logMessage {
    color: #e0cbb9;
}

.logLevel::before {
    content: " ";
}
.logLevel::after {
    content: " ";
}

.logLevel {
    color: #ffffff;
}
.logLevel.error {
        color: #d67b51;
}
.logLevel.warn {
        color: #dfc623;
}
.logLevel.info {
        color: #acdee4;
}
.logLevel.debug {
        color: #b4bfcf;
}
.logLevel.fatal {
        color: #ff0000;
}
.logLevel.access {
        color: #ccffcc;
}

.logTime {
    color: #8e817d;
}

.logControllerContainer {
    width: calc(100% - 125px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logLevelButton {
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.logReaderStatus {
    color: var(--darkened-text-color);
    text-align: right;
    flex-grow: 1;
    margin-bottom: 5px;
}

/* Statistics */

.statisticsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 32px);
    width: calc(100vw - 32px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
    scrollbar-width: none;
}

.statisticsBlocksContainer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 126px);
    margin: 0;
    margin-left: 5px;
    background-color: var(--midground-color);
    height: 75%;
    overflow-x: hidden;
}

.statisticsBlock {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 5px;
    background-color: var(--midground-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.statisticsTextContainer {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: var(--midground-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex-grow: 1;
    max-height: 20%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.statisticsControllerContainer {
    width: calc(100% - 125px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}

.statisticsControllerButton {
    margin: 0;
    margin-right: 5px;
}

.statisticsStatus {
    color: var(--darkened-text-color);
    text-align: right;
    flex-grow: 1;
    padding-top: 6px;
}

.statisticContainer {
    z-index: 0;
    margin-bottom: 5px;
    background-color: var(--midground-color);
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    position: relative;
    height: 15px;
    width: calc(100% + 10px);
    margin-left: -5px;
    min-height: 15px;
}

.statisticContainer * {
    position: absolute;
}

.statistic {
    color: var(--text-color);
    text-align: center;
    size: 100%;
    height: 15px;
    z-index: 1;
    position: absolute;
    padding-left: 5px;
    margin-top: -3px;
}

.statisticBar {
    background-color: var(--midground-color-light);
    bottom: 0;
    left: 0;
    height: 15px;
    z-index: inherit;
    position: absolute;
    border-right: 1px solid var(--border-color-light);
}

/* Config Page */

.guildObject {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.guildSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.configData {
    padding: 5px;
}

.guildSummary > * {
    margin-right: 5px;
}

.guildIcon {
    border-radius: 50%;
}